flask==3.1.1
flask-cors==5.0.1
gunicorn==23.0.0
geopandas==0.14.3
pyogrio==0.7.2
shapely==2.0.3
pandas==2.2.2
numpy==1.26.4
xarray==2024.6.0
cfgrib==0.9.13.0
eccodes>=1.6
Pillow==10.4.0
python-dotenv==1.0.1
PyJWT==2.9.0
psycopg2-binary==2.9.9
werkzeug==3.1.3
